[build]
target-dir = "../.build/target"

[alias]
dead-code = "clippy -- -D dead_code"
dead-deps = "machete"

# Use mold linker for faster parallel linking on Linux
# Note: mold must be installed (see install.sh)
# Commented out due to mold not being available in build environment
# [target.aarch64-unknown-linux-gnu]
# rustflags = ["-C", "link-arg=-fuse-ld=mold"]

# [target.x86_64-unknown-linux-gnu]
# rustflags = ["-C", "link-arg=-fuse-ld=mold"]
