**/.DS_Store
**/node_modules
**/target
**/target-*
.build
.git
.env
.env.*
**/.env
**/.env.*
**/*.key
**/*.pem
**/*.p12
**/credentials.json
**/credentials.yaml
**/secrets.json
**/secrets.yaml
**/*.secret
**/build-token
**/git-token
**/publish-token
**/read-token
